<p-table [value]="employees" dataKey="id" [loading]="loading"
            [filterDelay]="0" *ngIf="employees.length > 0"  class="emp-table">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td>
                        {{ employee.name }}
                    </td>
                    <td>
                        {{ employee.designation }}
                    </td>
                    <td>
                        {{ employee.salary }}
                    </td>
                    <td>
                        <button pButton pRipple type="button" tabindex="6" class="p-button-text p-0 mx-2"
                            (click)="edit(employee)"><i class="bi bi-pencil"
                            style="color: #fc7a45;"></i></button>
                        <button pButton pRipple type="button" tabindex="6" class="p-button-text p-0 ms-2"
                        (click)="delete(employee)"><i class="bi bi-trash"
                        style="color: #fc7a45;"></i></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


        <div *ngIf="employees.length == 0 && !loading" class="empty-row text-center">
            <i class="bi bi-people" style="color: #fc7a45; font-size: 3rem;"></i>
            <p class="mt-3">There are no Employees found.</p>
        </div>
