.layout {
    padding: 3rem 12rem;
}

.bg-custom {
    border-radius: 8px;
    background-color: #f8f8f8;
}

.form-content {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.table-content {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1); 
}